@font-face {
  font-family: 'Santipur2014';
  src: url('./assets/fonts/Santipur2014.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Siddhanta';
  src: url('./assets/fonts/siddhanta1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shobhika-Regular';
  src: url('./assets/fonts/Shobhika-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Shobhika-Regular', sans-serif;
  /* font-family: "Tiro Devanagari Sanskrit", serif; */
}

h5 {
  line-height: 1.5;
}
